{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load django_select2_tags %}

{% block content %}
  <div class="row">
    <div class="col-sm-6 col-md-5 col-sm-offset-3">
    {% if title %}
      <h3 class='text-align-center'>{{title }}</h3>
    {%endif %}
      <form id="groupform" method='POST' action =''> {%csrf_token %}
        
        
        {{form|crispy}}
              
        {{ cmdformset.management_form }}
        <ul>
            {% for formset in cmdformset.forms %}
            {{ formset|crispy }}         
            {% endfor %}
        </ul>
        
        <input type="button" value="Add More" id="add_more">
        
        <script>
          $("#add_more").click(function(){
              cloneMore($(this).parent().attr("id"),'AddCmdAliasForm');
           });
        </script>
        
        <button type='submit' class='btn btn-primary' value="submit">Save</button>
      </form>
    </div>
  </div>
{% endblock %}